body {
    text-align: center;
    background:url(https://media0.giphy.com/media/l2SpXooHKDShYUyeQ/giphy.gif?cid=790b76115d0be1e6493938454dceb340&rid=giphy.gif);
      background-size: 100px;
      font-family: 'Indie Flower', cursive;
  }