body {
    text-align: center;
    background:url(https://media0.giphy.com/media/3oEduYlHXf2yfop1HW/giphy.gif?cid=790b76115d0bde6b553358415995b0eb&rid=giphy.gif);
      baackground-size: 100px:
  }
  #Princess {
    width: 400px;
  }