body{background-color:white;
    text-align:center}
    h1{color:black;
    text-align:center;
    font-size:60px}
    img{height:400px;
    width:400px;
    padding:20px}
    #h1{font-size:40px;
    text-align:left;
    margin-left:100px}
    #h2{font-size:40px;
    text-align:left;
    margin-left:555px;
    margin-top: -70px}
    #h3{font-size:40px;
    text-align:left;
    margin-left:1025px;
    margin-top: -70px}