body{
    background-color: #262626;
  }
  h1{
    color: white;
    text-align: center;
    font-size: 60px;
  }
  .Into{
    color: white;
    
  }
  .intro{
    color:white;
    display: inline
  }
  .Start{
      font-size: 45px;
  }
  .Paragraphs{
      font-size:32px;
  }
  .TheStory {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
  }