body{
    background-color: #262626;
  }
  h1{
    color: white;
    text-align: center;
    font-size: 60px;
  }
  .Into{
    color: white;
    
  }
  .intro{
    color:white;
    display: inline
  }
  .Start{
      font-size: 45px;
  }
  .Paragraphs{
      font-size:32px;
  }
  .TheStory {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
  }
.QandA{
text-align: center;
color: white;
font-size:30px;
display: inline;
}
.Wrong1{
color: white;
height: 200px; 
width:200px; 
}
.Wrong2{
color: white;
height: 200px;
width: 200px;
}
.Right1{
color: white;
height: 200px;
width: 200px;
}
.Button{
  color: black;
  background-color: grey;
  font-size: 100px,
}
.Right2{
  color: white;
  height: 200px;
  width: 200px;
}
.Wrong3{
  color: white;
  height: 200px;
  width: 200px;
}